footer {
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  footer img{
    width: 25px;
    height: 25px;
}


  .textofooter {
    color: white;
    font-size: 15px;
  }
  
  
  .rrssfooter {
    justify-content: flex-end;
    margin-left: 200px;
  }
  
  