.mainindex {
  display: flex;
  flex-direction: column;
     img {
      width:200px;
      height:102px;
  }
  }
  
.contenido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resumencarrera {
  width: 70%;
}

.tabladeposiciones {
  width: 30%;
}